@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: $gunmetal;
  min-height: 100vh;
  position: relative;
}

a {
  color: $blush;
  text-decoration: none;
}