<div class='<%= "email #{email.read ? 'read' : ''}" %>'>
  <%= link_to(
    email.object,
    email_path(email),
    remote: true,
    class: 'email__object'
  ) %>
  <p class='email__body'><%= email.body %></p>
</div>